@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

:root {
    --Maximum-Red: #DC2026;
    --Falu-Red: #7E1616;
    --Calamansi: #FFFEAD;
    --Crayola-Maize: #FCC252;
    --Lotion: #FDFCFA;
    --Argent: #C0C1C1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', 'Inter', sans-serif;
    background-color: var(--Falu-Red);
    /* background-image: url("./Images/backgroundimage1.jpg"); */
    background-size: cover;
}

img {
    width: 100%;
    display: block;
}

.wrapper {
    background-color: #7E1616;
}

.wrapper .container {
    font-family: 'Inter', sans-serif;
    padding: 0 1rem;
}

.search-container {
    margin: 3rem;
    margin-left: 12rem;
    background-color: transparent;
    border: 2px solid #e9e9ec;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.logo {
    height: 100px;
    padding: 1rem 0;
}

.logo p {
    font-size: 4rem;
    color: var(--Lotion);
    font-weight: bold;
}

.fa-film {
    color: var(--Lotion);
    text-shadow: 0 0 20px var(--Lotion);
}

.search-element {
}
