@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

:root {
    --Maximum-Red: #DC2026;
    --Falu-Red: #7E1616;
    --Calamansi: #FFFEAD;
    --Crayola-Maize: #FCC252;
    --Lotion: #FDFCFA;
    --Argent: #C0C1C1;
}

* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto Slab', 'Inter', sans-serif;
    background-color: var(--Falu-Red);
    /* background-image: url("./Images/backgroundimage1.jpg"); */
    background-size: cover;
}

img {
    width: 100%;
    display: block;
}

.wrapper {
    background-color: #7E1616;
}

.wrapper .container {
    font-family: 'Inter', sans-serif;
    padding: 0 1rem;
}

.search-container {
    background-color: var(--Maximum-Red);
    height: 50px;
    display: flex;
}

.logo {
    height: 100px;
    padding: 1rem 0;
}

.logo p {
    font-size: 4rem;
    color: var(--Lotion);
    font-weight: bold;
}

.fa-film {
    color: var(--Lotion);
    text-shadow: 0 0 20px var(--Lotion);
}

.search-element {
}
